@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* START CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* End CSS RESET */

/* START APP CSS */

/* START Remove number arrows on number input boxes */
.App Input[type=number]::-webkit-inner-spin-button,
.App Input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.App Input[type=number] {
	-moz-appearance: textfield;
}
/* END Remove number arrows on number input boxes */

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba( 235, 101, 72 , 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba( 235, 101, 72 , 0.6);
	outline: 0 none;	
}

.App {
	box-shadow: 0 3px 3px #53C3C5, 0 3px 3px #53C3C5;
	padding: 18px;
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;

}

.App h1 {
	font-weight: bold;
	font-size: 2rem;
	padding: 6px 0;
}

.App h2 {
	font-weight: bold;
	font-size: 1.5rem;
	padding: 6px 0;
}

.App nav {
	width: 100%;
}

.App .nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 18px;
}

.App .nav h1 {
	padding: 6px;
	color: #53C3C5;
}

.App .nav .nav-links {
	width: 25%;
}

.App article {
	padding: 12px 0;
}

.App .nav-links a {
	padding: 6px;
}

.App .pagination-nav {

}

.App .container {
	width: 75%;
	padding: 25px;
	box-shadow: 0 3px 6px #262D35, 0 3px 6px #262D35;
}

.App .item {
	padding: 6px 0;
}

.App Label {
	padding: 3px 0;
}

.App Input {
	margin-top: 3px;
}

a {
	color: #EB6548;
	padding: 15px;
}

a:hover {
	color: #262D35;
	border-radius: 35px;
}

.popover {
	background: #53C3C5;
}

.App #results-table {
	
}

.App #pagination-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.App #app-nav-button {
	background-color: #53C3C5;
	/* background-color: #EB6548; */
	border: none;
}

/* END APP CSS */


